.pagination-flex{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
     /* background-color: var(--blue) !important; */
     border:1px solid var(--white) !important;
     text-emphasis-color: var(--white);
    border-color:var(--blue) !important
}
.page{
    color: var(--white);
}