.pagination-flex{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
    color: var(--white);
     background-color: var(--blue) !important;
                    
                      borderColor:"var(--blue) !important"
}