.pagination-flex{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
    background-color: var(--darkgray);
    color: var(--white);
    backgroundColor: var(--blue) !important;,
                      color: "#fff !important",
                      borderColor:"var(--blue) !important"
}