.list-row {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}
.list-row td{
    text-align: left;
    width: 25%;
}
.td-img{
    width: 3rem !important;
    margin-right: 1.5rem;
}