.list-row {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}
.list-row td{
    : left;
    width: 18%;
}
.td-img{
    width: 3rem !important;
    margin-right: 0.5rem;
}