.list-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 1.5rem;
  padding: 1rem ;
  border-radius: 1rem;
}
.list-row:
.list-row td{
    text-align: left;
}

.td-imgae{
    width: 3rem !important;
    margin-right: 2rem;
}